@import"../base/variables";

/*-----FOOTER-----*/

footer{
   @include flex (flex,space-around,center,center);
    background-color: $color-principal;
    height: 90px;
    padding: 15px, 0px, 15px, 0px;
    bottom: 0%;
    font-weight: bolder;
    color: black;

    .icon-redes{
        transition: 2s;
        &:hover{
            transform: scale(1.1);
        }
    }
}