@import"../base/variables";

/*-----HEADER-----*/
nav {
    background:$color-principal;
    @include size(80px,100%);
   
    #check {
        display: none;
    }

    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    .enlace {
        text-decoration: none;
        position: absolute;

        .h1index {
            font-size: 60px;
            margin: 0px 20px;
            color: white;
            font-family: 'Lobster', cursive;
            &:hover {
                color: $color-titulos
                ;
            }
            

        }
    }

    ul {
        float: right;
        margin-right: 20px;

        li {
            display: inline-block;
            line-height: 80px;
            font-family: $font;

            a {
                color: #fff;
                font-size: 20px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
                text-decoration: none;
                &.active,&:hover {
                    color: $color-titulos;
                }
                
            }

        }
    }


}